/////////////////////////////////////////////
// プレビュー用font
/////////////////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Raleway:300)
@mixin preview_font
  font-family: 'Raleway', sans-serif

/////////////////////////////////////////////
// clearfix
/////////////////////////////////////////////
@mixin cf 
  zoom: 1
  &:before,
  &:after 
    display: block
    height: 0
    visibility: hidden
    content: "\0020"
  &:after 
    clear: both

/////////////////////////////////////////////
// 全体
/////////////////////////////////////////////
body
  -webkit-text-size-adjust: 100%
  font-family: "Lato", Helvetica, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Arial, sans-serif


p.small
  color: rgba(52, 73, 94, 0.30000000000000004)
  display: block
  font-size: 16px
  font-weight: 700
  letter-spacing: 0
  padding-top: 5px
  text-align: center

.mg20
  margin: 20px 0

p.notice
  color: rgba(52, 73, 94, 0.6)
  font-size: 12px

.content
  margin-bottom: 30px
  ul
    list-style-type: none
    padding: 0
    margin: 0 10px

.langs
  @include cf
  h3
    margin-bottom: 5px
  ul
    @include cf
    li
      float: left

#preview_wrap_wrap
  height: 300px
  position: relative
  #preview_wrap
    background-color: #FFFFFF
    z-index: 10
    padding-bottom: 30px
#preview
  @include preview_font
  margin-top: 20px
  overflow: hidden
  ul.lang_items
    @include cf
    margin: 0 -4em 0 -2em
    padding: 0
    list-style-type: none
    li
      float: left
      margin-left: 0.7em
      .fa-stack
        width: 1em

#my_image
  margin-top: 15px

.minimize
  transform-origin: left top

.checkbox
  padding-left: 25px
  padding-right: 15px

#copyright
  @include preview_font
  margin: 20px
  text-align: center
  i
    margin-right: 5px

.share_buttons
  @include cf
  margin: 15px 0 15px -230px
  padding: 0
  list-style-type: none
  position: relative
  left: 50%
  li
    float: left
    width: 120px
    &.share_twitter
      width: 110px
    &.share_facebook
      width: 160px
      margin-bottom: 15px
    &.share_twitter
      width: 120px
    &.share_twitter
      width: 100px

#samples
  margin: 15px 0
  #sample1
    width: 90%
    margin: 0 5% 15px
  #sample2, #sample3
    width: 40%
    margin: 0 5%

/////////////////////////////////////////////
// PC
/////////////////////////////////////////////
@media (min-width: 993px)
  header
    display: none
  .fixed
    position: fixed
    top: 0px
    width: 40%
  h1
    text-align: center
    font-size: 54px
  h2
    font-size: 34px
  h3
    font-size: 20px
  .minimize
    transform: scale(0.3)

  .share_buttons .fb-like span
    vertical-align: baseline !important

/////////////////////////////////////////////
// スマホ
/////////////////////////////////////////////
@media (max-width: 992px)
  body
    padding-top: 60px
  header
    padding: 15px
    text-align: center
    position: fixed
    left: 0
    top: 0
    width: 100%
    background-color: #FFFFFF
    z-index: 30
  #preview_wrap_wrap
    display: none
  #preview_wrap
    margin-top: 15px
  #hider
    overflow: hidden

  .minimize
    transform: scale(0.17)

  h1
    text-align: center
    font-size: 28px
  h2
    font-size: 22px
  .modal h2
    margin-top: 0
  h3
    font-size: 20px
  p.small
    font-size: 14px
    margin: 0 20px

  .share_buttons
    width: 80%
    left: 10%
    margin: 15px 0
